set cpu 4g
att nvr nvram.dat

set cr dis
set lpt dis
set rl dis
set ry dis
set ts dis
set xq dis
set rq0 %DISK_TYPE%
att rq0 netbsd.%DISK_TYPE%
set rq1 cdrom
att rq1 %ISO%
set rq2 dis
set rq3 dis
set xq ena type=delqa
attach xq tap0

boot cpu
